

<% provide(:title, 'Quote of the Day | Sign In') %>
<h3>Sign In</h3>

<form>
  <label for="username">Username</label>
  <input id="username" name="username" type="text" />
  
  <label for="password">Password</label>
  <input id="password" name="password" type="password" />
</form>